<div
  *ngIf="(pageHasLoaded$ | async) === true; else loadingIndicator"
  class="container mt-2"
>
  <h2>
    Stats von <strong class="ms-1">{{ (user$ | async)!.username }}</strong>
  </h2>

  <h4>Guthaben</h4>
  <ul class="list-group mb-2">
    <li class="list-group-item d-flex justify-content-between">
      <span>aktuelles Guthaben:</span>
      <span [appBalanceHighlight]="(profile$ | async)!.balance">{{
        (profile$ | async)!.balance | currency: "EUR"
      }}</span>
    </li>

    <li class="list-group-item d-flex justify-content-between">
      <span>verschwendetes Geld:</span>
      <span [appBalanceHighlight]="wastedMoney$ | async">{{
        wastedMoney$ | async | currency: "EUR"
      }}</span>
    </li>
  </ul>

  <h4>Getränke Topliste</h4>
  <ul class="list-group overflow-auto" style="max-height: 187px">
    <li
      *ngFor="let beverage of purchasesByBeverageType$ | async; index as index"
      [ngClass]="getBeverageClass(index)"
      class="list-group-item d-flex justify-content-between"
    >
      <span>{{ beverage.beverageType.name }}</span>
      <span class="text-info">{{ beverage.amount }}</span>
    </li>
  </ul>

  <div class="d-flex justify-content-center mt-2">
    <button
      *ngIf="(currentUser$ | async)!.is_staff === true"
      routerLink="/admin/user/{{ (currentUser$ | async)!.id }}"
      class="btn btn-outline-info"
    >
      Admin Einstellungen
    </button>
  </div>
</div>

<ng-template #loadingIndicator>
  <div class="d-flex justify-content-center mt-2">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
</ng-template>
