<div class="container h-100">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="row h-100">
    <div class="col-8 col-md-5 col-lg-4 align-self-center m-auto">
      <h1 class="h3 mb-3 fw-normal">Registrieren</h1>

      <div class="form-floating w-100 mb-2 m-auto">
        <input
          formControlName="username"
          type="email"
          class="form-control"
          placeholder="Benutzername"
        />
        <label>Benutzername</label>

        <small
          *ngIf="tryedSubmitting && username.hasError('required')"
          class="d-block text-danger"
          >Bitte gib einen Benutzernamen ein</small
        >
        <small
          *ngIf="
            tryedSubmitting &&
            usernameUnavailable &&
            username.value === lastUsername
          "
          class="d-block text-danger"
          >Dieser Benutzernamen ist bereits vergeben</small
        >
      </div>

      <div class="form-floating w-100 mb-2 m-auto">
        <input
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Passwort"
        />
        <label>Passwort</label>

        <small
          *ngIf="tryedSubmitting && password.hasError('required')"
          class="d-block text-danger"
          >Bitte gib ein Passwort ein</small
        >
        <small
          *ngIf="tryedSubmitting && password.hasError('minlength')"
          class="d-block text-danger"
          >Das Passwort muss mindestens {{ passwordMinimumLength }} Zeichen lang
          sein</small
        >
      </div>

      <button class="btn btn-lg btn-outline-success w-100 mb-2" type="submit">
        Registrieren
      </button>
      <button
        routerLink="/login"
        class="btn btn-lg btn-outline-primary w-100"
        type="button"
      >
        Login
      </button>
    </div>
  </form>
</div>
