<div class="modal fade" id="purchase-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="purchaseForm" (ngSubmit)="createPurchase()">
        <div class="modal-header">
          <h5 class="modal-title" id="purchase-modal-label">Getränk Kaufen</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-evenly">
            <div class="col-12 col-sm-4 mb-2">
              <div class="input-group">
                <span class="input-group-text">Anzahl</span>
                <input
                  formControlName="amount"
                  class="form-control"
                  value="1"
                  min="1"
                  type="number"
                />
              </div>
            </div>
            <div class="col-12 col-sm-8 mb-2">
              <div class="input-group">
                <span class="input-group-text">Getränk</span>
                <select formControlName="beverageType" class="form-select">
                  <option
                    *ngFor="let beverageType of beverageTypes"
                    [ngValue]="beverageType"
                  >
                    {{ beverageType.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div
            *ngIf="purchaseForm.value['beverageType'] != undefined"
            class="row justify-content-between"
          >
            <div class="d-inline-block w-auto text-primary fs-3">Preis:</div>
            <div class="d-inline-block w-auto fs-3 text-info lead">
              {{
                purchaseForm.value["amount"] *
                  purchaseForm.value["beverageType"].price | currency: "EUR"
              }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Schließen
          </button>
          <button
            (click)="createPurchase()"
            type="submit"
            class="btn btn-outline-success"
            data-bs-dismiss="modal"
          >
            Kaufen
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="mb-4">
    <h2 class="mb-0">Guthaben</h2>
    <div class="row">
      <p
        *ngIf="currentProfile !== undefined"
        [ngClass]="{
          'text-danger': currentProfile.balance < 0.0,
          'text-success': currentProfile.balance >= 0.0,
          'giant-text': Math.abs(currentProfile.balance) < 1000,
          'less-giant-text': Math.abs(currentProfile.balance) >= 1000
        }"
        class="mb-0 w-100 lead align-self-center"
      >
        {{ currentProfile.balance | currency: "EUR" }}
      </p>
    </div>

    <div class="row">
      <button
        data-bs-toggle="modal"
        data-bs-target="#purchase-modal"
        class="
          btn btn-outline-primary
          col-7 col-sm-5 col-md-4 col-lg-3 col-xl-2
          m-auto
          mb-2
        "
      >
        <i class="bi bi-cup-straw"></i> Getränk Kaufen
      </button>
      <button
        class="
          btn btn-outline-primary
          col-7 col-sm-5 col-md-4 col-lg-3 col-xl-2
          m-auto
          mb-2
        "
        disabled
      >
        <i class="bi bi-wallet2"></i> Guthaben hinzufügen
      </button>
    </div>
  </div>

  <div>
    <h2>Gekaufte Getränke</h2>

    <div class="border rounded overflow-auto" style="height: 45vh">
      <table class="table rounded m-0">
        <thead>
          <tr>
            <th class="text-primary fw-normal text-center">Getränk</th>
            <th class="text-primary fw-normal text-center">Datum</th>
            <th class="text-primary fw-normal text-center">Preis</th>
          </tr>
        </thead>

        <tbody *ngIf="beverageTypes.length !== 0 && purchases.length !== 0">
          <tr *ngFor="let purchase of purchases">
            <td class="text-center">
              {{ getPurchaseBeverageType(purchase).name }}
            </td>
            <td class="text-center">{{ purchase.date | date: "short" }}</td>
            <td class="text-info text-center">
              {{ getPurchaseBeverageType(purchase).price | currency: "EUR" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
