<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" routerLink="/"
      ><i class="bi bi-cup-fill"></i> Kaffee Kasse</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div #navbar class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav me-auto">
        <a
          appCollapseableNavlink="#navbar"
          [class.active]="router.url.startsWith('/dashboard')"
          class="nav-link"
          routerLink="/dashboard"
          ><i class="bi bi-speedometer2"></i> Dashboard</a
        >
        <a
          appCollapseableNavlink="#navbar"
          [class.active]="router.url == '/users'"
          class="nav-link"
          routerLink="/users"
          ><i class="bi bi-people"></i> User</a
        >
        <a
          appCollapseableNavlink="#navbar"
          [class.active]="router.url == '/settings'"
          class="nav-link"
          routerLink="/settings"
          ><i class="bi bi-gear"></i> Einstellungen</a
        >
        <a
          appCollapseableNavlink="#navbar"
          [class.active]="router.url.startsWith('/admin')"
          [class.disabled]="userService.currentUser?.is_staff === false"
          class="nav-link"
          routerLink="/admin"
          ><i class="bi bi-gear-wide-connected"></i> Admin</a
        >
      </div>

      <div class="d-flex justify-content-between">
        <p
          *ngIf="userService.currentUser !== undefined"
          routerLink="/user/{{ userService.currentUser.id }}"
          appCollapseableNavlink="#navbar"
          class="w-auto mt-auto mb-auto me-2 mouse-pointer"
        >
          <i
            class="icon bi bi-person text-light border rounded p-2"
            style="border-color: #ffea31 !important"
          ></i>
          Angemeldet als
          <span class="fw-bold">{{ userService.currentUser?.username }}</span>
        </p>

        <button
          *ngIf="authService.credentials !== undefined"
          (click)="authService.logout()"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
          class="w-auto btn btn-outline-danger"
        >
          <i class="bi bi-box-arrow-right icon"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
